# Byte-compiled / temporary files:
*.pyc
__pycache__/
.DS_Store
fabricate/__init__.py

# Python virtual environment folders:
venv/
env/

# Database files:
db.sqlite3
core/migrations/
users/migrations/

get-pip.py

.vscode/


